body {
    font-family: 'Press Start 2P', Arial, sans-serif; /* Fuente retro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de la ventana gráfica */
    background-image: url('imagenes/imagen_de_fondo.jpg');
    background-size: cover; /* La imagen de fondo cubre todo el contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center; /* Centra la imagen de fondo */
    color: #4B0082; /* Rojo oscuro para el texto */
}

header {
    background-color: #800000; /* Rojo oscuro para el encabezado */
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

section {
    flex: 1 1 300px;
    margin: 10px;
    padding: 20px;
    background-color: #8B0000; /* Rojo oscuro para el fondo de la sección */
    color: white;
    text-align: center;
    overflow: auto; /* Permite hacer scroll si hay muchos elementos */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea el contenido al centro */
    align-items: center;
}

.section-header {
    background-color: transparent; /* Fondo completamente transparente */
    margin-bottom: 20px;
    padding: 20px;
    text-align: center; /* Centra el texto */
}

.section-header h2,
.section-header p {
    font-size: 1.5em; /* Tamaño de fuente */
    margin: 0; /* Elimina márgenes */
    background-color: transparent; /* Fondo completamente transparente */
}

.section-header p {
    margin-top: 10px; /* Separación entre el h2 y el p */
}

.item {
    margin-bottom: 20px;
}

.item img {
    max-width: 100%;
    height: auto;
}

.item h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.item p {
    font-size: 1em;
}

footer {
    background-color: #800000; /* Rojo oscuro para el pie de página */
    color: white;
    text-align: center;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    background-color: #8B0000; /* Rojo oscuro para los enlaces */
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: #B22222; /* Rojo más claro para los enlaces al pasar el mouse */
}
